<!-- templates/main.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to My Website</h1>
    <h1>header</h1>
    <h2>header</h2>
    <h3>header</h3>
    <button class="button is-primary">
        Button
      </button>
      <button class="button is-link">
        Button
      </button>
      <button class="button is-info">
        Button
      </button>
      <button class="button is-success">
        Button
      </button>
      <button class="button is-warning">
        Button
      </button>
      <button class="button is-danger">
        Button
      </button>
{% endblock %}
